.Middle{
    width: 100vw;
    height: 75vh;
    background-color: rgb(140, 223, 226);
    overflow-y: scroll;
    scrollbar-width: none;
}
.main{
    display: flex;
    justify-content: space-around;
    
}