.Product{
    width: 300px;
    background-color: lightgrey;
    border: 3px solid silver;
    border-radius: 20px;
    text-align: center;
    font-size: large;
    transition: all 0.5s ease;
    opacity: 1;

}
.Product1{
    opacity: 0.3;
    width: 300px;
    background-color: lightgrey;
    border: 3px solid silver;
    border-radius: 20px;
    text-align: center;
    font-size: large;
    transition: all 0.5s ease;

}
.Product img{
    width: 250px;
    height: 170px;
    border-radius: 20px;
     transition: all 1s ease-in-out;
}
.addButton{
    color: silver;
    width: 250px;
    height: 40px;
    background-color: rgb(12, 74, 135);
    font-size: large;
    border: 2px solid silver;
    border-radius: 20px;
    
    
}
.addButton1{
    color: silver;
    width: 250px;
    height: 40px;
    background-color: black;
    font-size: large;
    border: 2px solid silver;
    border-radius: 20px;
    
    
}


.Product img:hover{
    transform: scale(1.1,1.1);
}

.Product:hover{
    box-shadow: 10px 10px 10px black;
    transform: scale(1.1);
    
}